[Unit]
Description={{ service_identifier }}
After=network-online.target
Wants=network-online.target

[Service]
User={{ monad_user }}
Group={{ monad_group }}
UMask=002
WorkingDirectory={{ monad_home }}
EnvironmentFile={{ monad_general_env_file }}
EnvironmentFile={{ monad_secrets_env_file }}

ExecStart=/usr/local/bin/monad-node \
    --secp-identity {{ monad_secp_key_file }} \
    --bls-identity {{ monad_bls_key_file }} \
    --node-config {{ monad_node_config_file }} \
    --forkpoint-config {{ monad_forkpoint_file }} \
    --wal-path {{ monad_wal_dir }} \
    --mempool-ipc-path {{ monad_mempool_socket }} \
    --control-panel-ipc-path {{ monad_control_panel_socket }} \
    --statesync-ipc-path {{ monad_statesync_socket }} \
    --ledger-path {{ monad_data_dir }} \
    --triedb-path {{ triedb_config.path }} \
    --otel-endpoint "{{ monad[type].otel_endpoint | default('http://127.0.0.1:4317') }}" \
    --statesync-sq-thread-cpu {{ consensus_statesync_sq_thread_cpu | default(8) }} \
    --record-metrics-interval-seconds 1 \
    --validators-path {{ monad_validators_config_file }} \
    --persisted-peers-path {{ monad_persisted_peers_file }} \
    --keystore-password "${KEYSTORE_PASSWORD}"

Restart=always
RestartSec={{ systemd_restart_sec }}
LimitNOFILE={{ systemd_limit_nofile }}
DeviceAllow={{ triedb_config.path }} rw

# Hugepages configuration
LimitMEMLOCK=infinity
MemoryDenyWriteExecute=false
ProtectKernelModules=no
ProtectKernelLogs=no
MemoryMax={{ systemd_memory_max }}

StandardOutput=append:{{ monad_log_file }}
StandardError=inherit

[Install]
WantedBy=multi-user.target
