#!/bin/bash
set -e

echo "Restarting Monad services..."

sudo systemctl restart {{ execution_service_identifier }}
sleep 3
sudo systemctl restart {{ service_identifier }}
sleep 2
sudo systemctl restart monad-rpc

echo "Monad services restarted successfully"
