#!/bin/bash
set -e

LINES="${2:-100}"

case "${1:-consensus}" in
  consensus)
    tail -n "$LINES" -f {{ monad_logs_dir }}/{{ service_identifier }}.log
    ;;
  execution)
    tail -n "$LINES" -f {{ monad_home }}/execution/log/{{ execution_service_identifier }}.log
    ;;
  rpc)
    tail -n "$LINES" -f {{ monad_logs_dir }}/{{ rpc_service_identifier }}.log
    ;;
  all|*)
    journalctl -u {{ service_identifier }} -u {{ execution_service_identifier }} -u {{ rpc_service_identifier }} -n "$LINES" -f
    ;;
esac
