[Unit]
Description={{ execution_service_identifier }}
After=network-online.target
Wants=network-online.target

[Service]
User={{ execution_user }}
Group={{ execution_group }}
Type=simple
WorkingDirectory={{ execution_home_dir }}
EnvironmentFile={{ execution_env_file }}

ExecStart={{ execution_bin_dir }}/{{ execution_service_identifier }} \
    --chain {{ execution_chain }} \
    --block-db {{ monad_data_dir }} \
    --db {{ triedb_config.path }} \
    --statesync {{ monad_socket_dir }}/statesync.sock \
    --log-level {{ execution_log_level | default('INFO') }} \
    --sq-thread-cpu {{ execution_sq_thread_cpu | default(1) }}

Restart=always
RestartSec=4
LimitNOFILE=1048576
LimitMEMLOCK=infinity
MemoryMax=64G

StandardOutput=append:{{ execution_log_file }}
StandardError=inherit

[Install]
WantedBy=multi-user.target
