---
- name: Setup OpenTelemetry Collector
  hosts: validators:fullnodes
  become: yes
  gather_facts: yes

  vars_files:
    - ../group_vars/all.yml
    - ../group_vars/vault.yml
    - ../group_vars/{{ env }}.yml

  pre_tasks:
    - name: Skip if OTEL disabled
      meta: end_play
      when: not (otel_enabled | default(true))

  roles:
    - role: otel
      tags: [otel]
