---
- name: Setup Monad Execution Node
  hosts: validators:fullnodes
  become: yes
  gather_facts: yes

  vars_files:
    - ../group_vars/all.yml
    - ../group_vars/vault.yml
    - ../group_vars/{{ env }}.yml

  roles:
    - role: execution
      tags: [execution]
